@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
font-family: 'Open Sans', sans-serif;
overflow-x: hidden;

}

.container-full h1,h2,h3,h4{
  text-transform: none;
}

.jumbotron{
  background-image: url("../assets/backgrounds/h_img.jpg");
  width:100vw;
  height :100%;
  background-size: cover;
  color: white;
  font-family: inherit;

}
.jumbotron h1{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-size: 40px;
  /* padding-top: 10%; */
}

.jumbotron p{
 text-transform: uppercase;
 text-align: center;
 margin-top: -1%;
}

.jumbotron #logo{
  width:6%;
  margin-top: 18%;
  margin-left: 47%;
}

#mouse_click{
  margin-left: 49%;
  padding-top: 8%;
  padding-bottom:2%;
}

/* about */

.about{
  color:black;
  text-align: center;
}

/* service */

.services{
  background-image: url("../assets/backgrounds/s_image.jpg");
  text-align: center;
  color: white;
}

.services h1{
  padding-top: 10%;
}


#servicesp
{
  padding-bottom: 10%;
}

/* what we do */

.whatwedo h1{
  text-align: center;
  text-transform: uppercase;
}

.whatimages{
  text-align: center;
  padding-top: 3%;
  padding-bottom: 3%;
}

#designp,#devp, #productp{
  display: none;
  text-align: center;
}

#designp h1,#devp h1, #productp h1{
  font-weight: bold;
}

/* portfolio */

.portfolio h1{
  text-align: center;
  padding-bottom: 3%;
  padding-top:3%;
}

.portfolio img{
width:100%;
height: auto;
}

.imgoverlay1,.imgoverlay2, .imgoverlay3,.imgoverlay4,.imgoverlay5,.imgoverlay6,.imgoverlay7,.imgoverlay8{
  width:90%;
    color:white;
    height:97%;
    position: absolute;
    top:0;
     background-color: rgba(0, 0, 0, 0.5);
    display:none;

}

.port1{
  padding-top:3%;
}

img.w-100 {
  padding-bottom: 3%;
}
.overlaycontent,.overlaycontent1,.overlaycontent2,.overlaycontent3,.overlaycontent4,.overlaycontent5,.overlaycontent6,.overlaycontent7{

 width:90%;
 margin-top: 4%;
 margin-left: 5%;
 height: 90%;
 position: relative;
 border: 5px solid white;
}

.imgoverlay1 h1,.imgoverlay2 h1,.imgoverlay3 h1,.imgoverlay4 h1,.imgoverlay5 h1,.imgoverlay6 h1,.imgoverlay7 h1,.imgoverlay8 h1{
    padding-top: 3%;
    text-align: left;
    font-weight: 800px;
    font-size: 30px

}

/* contacts us */
.contactus{
  width:100%;
  background-image: url("../assets/backgrounds/c_image.jpg");
}
.contactus h1{
  color:white;
  text-align:center;
  padding-top: 5%;
  padding-bottom: 3%;
}
.form-control{
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0;
  color:white;
}
