@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
body{
font-family: 'Open Sans', sans-serif;
overflow-x: hidden;

}

.container-full h1,h2,h3,h4{
  text-transform: none;
}

.jumbotron{
  background-image: url("../assets/backgrounds/h_img.jpg");
  width:100vw;
  height :100%;
  background-size: cover;
  color: white;
  font-family: inherit;

}
.jumbotron h1{
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
  font-size: 40px;
  /* padding-top: 10%; */
}

.jumbotron p{
 text-transform: uppercase;
 text-align: center;
 margin-top: -1%;
}

.jumbotron #logo{
  width:6%;
  margin-top: 18%;
  margin-left: 47%;
}

#mouse_click{
  margin-left: 49%;
  padding-top: 8%;
  padding-bottom:2%;
}
